* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;

  // background-color: hsl(225, 100%, 98%);
}

body {
  background-image: url("../img/pattern-background-desktop.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  // align-content: center;
  // align-items: center;
  // justify-content: center;
  // text-align: center;
  padding: 20px;
  width: 1440px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: hsl(225, 100%, 98%);
  // align-content: center;
  // align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 430px;
  height: 620px;
  border-radius: 20px;
  background-color: white;

  &__image {
    width: 430px;
    border-radius: 20px 20px 0 0;
  }

  &__content {
    // align-items: center;
    // align-content: center;
    width: 4 px;
    text-align: center;

    h1 {
      font-weight: 900;
      font-size: 25px;
      // justify-content: center;
      // align-items: center;
      padding-top: 30px;
      // text-align: center;
      color: hsl(223, 47%, 23%);
    }

    p {
      padding: 25px;
      color: hsl(224, 23%, 55%);
    }
  }

  &__plan {
    display: flex;
    width: 350px;
    background-color: hsl(225, 100%, 98%);
    padding: 10px 20px;
    border-radius: 20px;
    align-items: center;
  }

  &__plan--item {
    // display: block;
    justify-content: flex-start;
    flex-grow: 1.5;
    padding-left: 10px;
    font-weight: 900;

    h3 {
      color: hsl(224, 23%, 55%);
    }
  }
  a {
    font-weight: bolder;
  }

  a:hover {
     color: hsl(224, 23%, 55%);
     text-decoration: none;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    
    align-items: center;

    .btn-cta {
      width: 350px;
      height: 50px;
      color: white;
      background-color: hsl(245, 75%, 52%);
      border-style: none;
      border-radius: 15px;
      box-shadow: 0 4px 16px 0 hsl(245, 75%, 52%, 20%), 0 16px 20px 0 hsl(245, 75%, 52%, 20%);
    }

    .btn-cancel {
      width: 350px;height: 50px;
      border-radius: 20px;
      border-style: none;
      background-color: transparent;
      color: hsl(224, 23%, 55%);
      font-weight: bold;
      padding-top: 10px;

    }

    .btn-cta:hover {
        background-color: hsl(245, 75%, 65%);
        cursor: pointer;
    }

    .btn-cancel:hover {
        color: hsl(223, 47%, 23%);
        cursor: pointer;
    }
  }
}
